.PieChartMarkers{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.PieChartMarker{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.PieChartDot{
 width: 12px;
 height: 12px;
 border-radius: 50%;
 margin-right: 8px;

}
.PieChartTag{
  font-size: 12px;
}