.FormContainer {
    width: 40vw;
    background: var(--global-09-white, #FFF);
    flex-shrink: 0;
    border-radius: 4px;
}
.centered-container {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 100vh; /* 100% of viewport height for vertical centering */
    background: var(--global-07-light, #F8F9FA);
  }
  .FormHeading {
    color: var(--global-01-primary, #007BFF);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
  }

  .spinner {
    margin-right:10px;
  }